[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Welcome
Comment=EndeavourOS Welcome launcher
Comment[fi]=EndeavourOS:n Welcome-ohjelman käynnistin
Comment[sk]=Spúšťač privítania v systéme EndeavourOS
Exec=eos-welcome --startdelay=3
Icon=endeavouros-icon
Hidden=false
X-GNOME-Autostart-enabled=false
X-KDE-autostart-after=panel
Categories=System
